/* All pages*/

@font-face {
	font-family: 'ABugsLife';
	src: url(font/ABugsLife.ttf) format("ttf");
}
@font-face {
	font-family: 'Droid';
	src: url(font/DroidSerif-Regular.ttf) format(ttf),
	 	 url(font/DroidSerif-Italic) format(ttf),
		 url(font/DroidSerif-BoldItalic.ttf) format(ttf),
		 url(font/DroidSerif-Bold.tff) format(ttf);
}

body{
	background-image: url('Images/fond3_clair.png');
	background-size: 100%;
}

.title-div {
	display : flex;
	justify-content: center;
	align-items: center;
}

.title-heading {
    font-size: 30px;
    font-weight: bold;
    color: rgb(130, 196, 108);
    padding: 15px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-family: 'Droid'
}

.left-line,
.right-line {
	content:'';
	width: 35%;
	border-bottom:rgba(130, 196, 108,1) double 2px;
}

@media screen and (max-width: 768px) {
	.title-heading {
	  padding: 5px;
	}
}

/*CSS banniere top*/
.nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.nav_text {
	font-size: 30px;
	color: white;
	text-shadow: #000000 1px 1px;
	font-family: 'Droid';
	margin-bottom: -25px;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.nav > li > a:hover {
	color: rgba(130, 196, 108, 1);
	background: none;
}
.nav > li > a:active,
.nav > li > a:focus {
	text-decoration: underline;
	background: none;
	color: rgba(130, 196, 108, 1);
}
#en-cours a{
	color: rgba(130, 196, 108, 1);
}


#logo_restaurant_head{
	display: flex;
	max-width: 50%;
	min-width: 300px;;
	margin: 0 auto 2% auto;
}

.ligne_separation {
	 border: 0;
	 height: 3px;
	 background-image: linear-gradient(to right, rgba(130, 196, 108, 0), rgba(130, 196, 108, 0.75), rgba(130, 196, 108, 0));
}

/*Responsive header*/
@media screen and (max-width: 1000px) {
	.nav{
		flex-direction: column;
		margin-bottom: 0px;
		}
	.nav_text {
		font-size: 30px;
		width: 300px;
	}
	#logo_restaurant_head {
		margin-bottom: 0px;
		margin-top: 25px;
	}
	.ligne_separation {
		margin-bottom: 0;
	}
}

/* CSS du Footer*/
footer {
	background-color: rgba(250,250,250,0.08);

}

.dispo_footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/*modification des liens pieds de page*/
.text_foot {
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-family: Times;
	font-size: 18px;
}

.text_foot:hover,
.text_foot:active,
.text_foot:focus {
	color: rgba(130, 196, 108, 1);
}

#logo_footer {
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-family: 'ABugsLife';
	font-size: 30px;
}

#lien_logo_footer:hover {
	text-decoration: underline rgba(130, 196, 108, 1);
}

.banniere_bottom1 {
	list-style: none;
	text-align: center;
	padding: 0;
}

/*Responsive footer*/
@media screen and (max-width: 700px) {
	.dispo_footer {
		flex-direction: column;
		justify-content: center;
	}
	footer {
		margin-top: 20px;
	}
}

/*Concept Section*/
.p-index {
	color: white;
	font-family: 'Droid';
	font-size: 24px;
	text-align: justify;
	padding-top: 5px;
}
@media screen and (max-width: 768px) {
	.p-index{
		font-size: 18px;
		text-align: justify;
	}
	.subtitle-index{
		font-size: 24px;
	}
	.p-carousel {
	  text-align: justify;
	  margin: auto;
	  margin-top: 15px;
	  font-size: 18px;
	}
	.header-carousel {
	    font-size: 24px;
	    padding-top: 2%;
	    font-weight: bold;
	}
	.btn-link-menu, .btn-link-menu:hover:focus {
	   margin: 10px;
	    padding: 10px;
	    font-size: 20px;
	    border-radius: 25px;
	    background-color: darkgreen;
	    border-color: white;
	}
	.span-menu{
		font-size: 20px;
	}
}

.text-founder {
	font-style: italic;
}

.img-concept {
	display: block;
	margin: auto;
	border-radius: 25px;
	border : solid white;
    color: white;
}

span {
	font-size: 35px;
}

/*Founder Section*/
h4 {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    color: white;
    font-family: 'Droid';
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    margin-bottom: -10px;
}

.img-founder {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	border: 1px solid white;
}

.founder-separation {
	width: 50%;
	margin-top: 0px;
	border: solid;
	color: #AAFE79;
	border: 1px solid rgb(130, 196, 108);
}

/*Carousel Section*/
.color-indicators li {
	background-color: rgb(130, 196, 108); /* couleur indicateurs inactifs*/
	height: 15px;
	width: 15px;
	border-radius: 7.5px;
	border-color: green;
	border-width:3px ;
}

.color-indicators .active {
	background-color: rgba(209, 212, 126  ,0.3); /*couleur indicateur actif */
	height: 20px;
	width: 20px;
	border-radius: 10px;
}

.content-carousel {
    border: none;
}

.size-carousel {
    height: 590px;
    border-radius: 50px;
    background-color: rgba(9, 30, 5,0.4)
}

.left.carousel-control {
    border-radius: 50px 0 0 50px;
}

.right.carousel-control {
	border-radius: 0 50px 50px 0;
}

.carousel-control {
	background-color: rgba(10, 20, 5,0.2)
}

.carousel-inner > .active {
	background-color: rgb(50,50,50,0); /*couleur fond carousel*/
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
	color: white;
}

.more-info-button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 70%;
    margin: 1%;
    background-color: rgb(130, 196, 108);
    color: rgb(62, 62, 62);
    width: 125px;
    height: 35px;
    border-radius: 5px 20px 5px;
    font-weight: bold;
}

.more-info-button:hover {
    color:white;
}

.img-carousel {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 2%;
}

/* Buttun Link Menu */
.btn-link-menu, .btn-link-menu:focus {
   margin: 10px;
    padding: 10px;
    font-size: 30px;
    border-radius: 25px;
    background-color: darkgreen;
    border-color: white;
}

.btn-link-menu:hover, .btn-link-menu:active:hover {
  	background-color: rgb(130, 196, 108);
	border-color: white;
}

/*Responsive*/
@media only screen and (min-width: 768px) {
    .img-responsive-mobile {
  		display: none;
    }
    .founder-portrait2{
  		float: right;
    }
    .img-founder{
	   display: block;
	    margin: auto;
    }
    .img-concept{
		margin-top:90px;
    }
	.subtitle-index {
		font-size: 28px;
	}
	.p-carousel {
	  text-align: center;
	  width: 80%;
	  margin: auto;
	  margin-top: 15px;
	  font-size: 20px;
	}
	.header-carousel {
	    font-size: 30px;
	    padding-top: 2%;
	    font-weight: bold;
	}
}

@media screen and (max-width: 768px) {
	#myCarousel{
		 display: none;
	}
    .concept-block {
        display: flex;
        flex-wrap: wrap-reverse;
    }
	.img-concept{
		height: 300px;
	}
    .img-photo-insects,
	.img-founder {
        display: block;
        margin: 2% auto;
    }
	.img-photo-insects{
		border-radius: 10px;
		border: solid rgb(130, 196, 108);
	}
	.btn-link-menu{
	  font-size: 20px;
	  text-align: center;
	}

	.img-responsive-mobile {
		display: block;
		text-align: center;
	}
	#more-info-div{
		position: relative;
		height: 50px;
	}
	.more-info-button {
		margin: 1% 0;
		width: 125px;
		top: 50%; left: 50%;
    	transform: translate(-50%, -50%);
		height: 30px;
	}
}

/* MENU */
@media screen and (min-width: 992px) {
  .specialite {
    height: 400px
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .specialite{
    height: 420px
  }
}

#accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
}

.menu-panel {
	background-image: url('Images/papyrus_1.jpg');
	background-size: cover;
}

.menu-panel-heading {
	background-color: rgba(236,236,236,0.6);
}

.p-nosMenus {
	color: black;
	font-family: 'Droid';
	font-size: 16px;
}

.panel-title {
	font-size: 22px;
}

/*active,
#accordion:hover {

}*/

.specialite {
	box-shadow: 15px 15px 15px black;
	background-color: rgba(255,255,255,0.9);
}


/* restaurant page */
/* our restaurants section */
#map {
    margin: auto;
}

.restaurant-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.restaurant-thumbnail {
	border: 1px none #ddd;
	box-shadow: 10px 10px 10px black;
    margin: 10px;
	width: 250px;
	background-color: rgba(255,255,255,0.9);
	font-family: 'Droid';
}

.restaurant-thumbnail p {
	color: black;
	font-size: 14px;
}

/*.col-thumbnail {
    padding: 0;
}*/

.restaurant-thumbnail .caption {
	border-radius: 5px;
	border: none;
}

.restaurant-thumbnail h3 {
	color: black;
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
}

.link-adress {
    min-height: 70px;
    display: block;
	color: black;
}

.link-adress-disable:link,
.link-adress-disable:visited,
.link-adress-disable:hover,
.link-adress-disable:active {
    color: black;
    cursor: pointer;
    text-decoration: none;
    pointer-events: none;
}

.btn-color {
	background-color: rgb(130, 196, 108);
	color: rgb(62, 62, 62);
}

.btn-color:hover {
	color: white;
}

@media screen and (max-width: 768px) {
    .link-adress-disable:link,
	.link-adress-disable:hover {
	    color: rgb(130, 196, 108);
	    cursor: grabbing;
	    pointer-events: auto;
    }

    .link-adress-disable:visited {
	    color: rgb(130, 196, 108);
	    cursor: auto;
    }
}

/* contact section */

label {
	margin-top: 10px;
	color: white;
	font-family: 'Droid';
}

#send-button {
    display: block;
    margin: 10px auto;
}

#scrollUp {
	position: fixed;
	bottom : 50px;
	right: -100px;
	opacity: 0.5;
}

@media screen and (min-width: 768px) {
	#scrollUp {
		display: none;
	}
}

.mentions-legales {
	color: white;
}
