/* All pages*/

@font-face {
	font-family: 'ABugsLife';
	src: url(ABugsLife.ttf);
}

body{
	background-image: url('Images/fond3_clair.png');
	background-size: 100%;
}

p{
	color: white;
}

.title-div {
	display : flex;
	justify-content: center;
	align-items: center;
}

.title-heading {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 15px;
  text-shadow: #000000 1px 1px;
}

.left-line,
.right-line {
	content:'';
	width: 30%;
	border-bottom:rgba(130, 196, 108,1) double 2px;
}

@media screen and (max-width: 768px){
	.title-heading {
	  font-size: 20px;
	  font-weight: bold;
	  color: white;
	  padding: 5px;
	  text-shadow: #000000 1px 1px;
	}

	.left-line,
	.right-line {
		content:'';
		width: 30%;
		border-bottom:rgba(130, 196, 108,1) double 2px;
	}
}

/*CSS banniere top*/
.nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.nav_text{
	font-size: 30px;
	color:  white;
	text-shadow: #000000 1px 1px;
	font-family: 'Times';
	margin-bottom: -25px;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.nav > li > a:hover{
	color: rgba(130, 196, 108, 1);
}
.nav > li > a:active, .nav > li > a:focus{
	text-decoration: underline;
	background: transparent;
	color: rgba(130, 196, 108, 1);
}
#logo_restaurant_head{
	display: flex;
	max-width: 50%;
	min-width: 300px;;
	margin: 0 auto 2% auto;
}

.ligne_separation{
	 border: 0;
	 height: 3px;
	 background-image: linear-gradient(to right, rgba(130, 196, 108, 0), rgba(130, 196, 108, 0.75), rgba(130, 196, 108, 0));
}
/*Responsive header*/
@media screen and (max-width: 1000px){
	.nav{
		flex-direction: column;
		margin-bottom: 0px;
		}
	.nav_text{
		font-size: 30px;
		width: 250px;
	}
	#logo_restaurant_head{
		margin-bottom: 0px;
		margin-top: 25px;
	}
	.ligne_separation{
		margin-bottom: 0;
	}
}

/* CSS du Footer*/
footer{
	background-color: rgba(250,250,250,0.08);

}
.dispo_footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/*modification des liens pieds de page*/
.text_foot{
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-family: Times;
	font-size: 18px;
}
.text_foot:hover, .text_foot:active, .text_foot:focus{
	color: rgba(130, 196, 108, 1);
}
#logo_footer{
	color: white;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-family: 'ABugsLife';
	font-size: 30px;
}
#lien_logo_footer:hover{
	text-decoration: underline rgba(130, 196, 108, 1);
}
.banniere_bottom1{
	list-style: none;
	text-align: center;
	padding: 0;
}


/*Responsive footer*/
@media screen and (max-width: 700px){
	.dispo_footer{
		flex-direction: column;
		justify-content: center;
	}
	footer{
		margin-top: 20px;
	}
}

/*Concept Section*/
.p-index{
	color: white;
	font-family: 'Linotype Univers';
	font-size: 18px;
	text-align: justify;
	padding-top: 25px;
}
.imgConcept {
	margin: auto;
	border-radius: 25px;
	border : solid white;
	margin-top: 120px;
    color: white;
}

/*Founder Section*/
h4 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: white;
  font-family: 'Linotype Univers';
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
  margin-bottom: -10px;
}
.imgFondateur{
	width: 180px;
	height: 180px;
	border-radius: 90px;
	border: 1px solid white;
}
.founderSepation{
	width: 50%;
	margin-top: 0px;
	border: solid;
	color: #AAFE79;
	border: 1px solid rgb(130, 196, 108);
}

/*Carousel Section*/
.color-indicators li {
	background-color: rgb(158,250,40); /* couleur indicateurs inactifs*/
	height: 15px;
	width: 15px;
	border-radius: 7.5px;
	border-color: green;
	border-width:3px ;

}

.color-indicators .active {
	background-color: rgba(209, 212, 126  ,0.3); /*couleur indicateur actif */
	height: 20px;
	width: 20px;
	border-radius: 10px;
}

.content-carousel {
  /*background-size: 1200px 500px;*/
  /*height: 500px;*/
  border: none;
}

.size-carousel {
  height: 550px;
  border-radius: 50px;
  background-color: rgba(9, 30, 5,0.4)
  }

  .left.carousel-control{
 border-radius: 50px 0 0 50px;
 }
 .right.carousel-control{
 border-radius: 0 50px 50px 0;}

 .carousel-control{
	background-color: rgba(10, 20, 5,0.2)
 }

.header-carousel,
.p-carousel {
  text-align: center;
  width: 70%;
  margin: auto;
  opacity: 1;
}

.carousel-inner > .active {
	background-color: rgb(50,50,50,0); /*couleur fond carousel*/
}

.header-carousel {
  font-size: 30px;
  padding-top: 2%;
  font-weight: bold;
  padding-bottom: 1%;
}

.p-carousel {
  font-size: 20px;
}

.glyphicon-chevron-right,
.glyphicon-chevron-left
{
	color: white;
}

.more-info-button {
  display: block;
  position: absolute;
  bottom: 0;
  left: 70%;
  margin: 1%;
  background-color: green;
  width: 125px;
  height: 35px;
  border-radius: 5px 20px 5px;
  color: white;
  font: bold;
}

.more-info-button:hover {
  background-color: orange;
}

.img-carousel {
  margin: auto;
  padding-top: 1%;
  padding-bottom: 2%;
}

/* Buttun Link Menu */
.boutonCarte{
	margin: 20px;
  padding: 20px;
  font-size: 40px;
  	border-width: thick;
  border-radius: 25px;
  border-color: rgba(130, 196, 108, 1);
  background-color: rgba(130, 196, 108, 1);
}

.boutonCarte:hover{
  	background-color: rgb(130, 196, 108);
    border-color: rgb(130, 196, 108);
	background: transparent;
	border-width: thick;
}

.boutonCarte:active{
  	background-color: rgb(130, 196, 108);
    border-color: rgb(130, 196, 108);
	background: transparent;
	border-width: thick;
}

.boutonCarte:active:hover{
  	background-color: rgb(130, 196, 108);
    border-color: rgb(130, 196, 108);
	background: transparent;
	border-width: thick;
}
.boutonCarte:active:focus{
  	background-color: rgb(156, 129, 115);
    border-color: rgb(156, 129, 115);
	background: transparent;
	border-width: thick;
}


/*Responsive*/
@media only screen and (min-width: 768px){
  .img-responsive-mobile {
  	display: none;
  }
  .portraitFounder2{
  	float: right;
  }
  .imgFondateur{
	  display: block;
	  margin: auto;
  }

}

@media screen and (max-width: 768px) {
	#myCarousel{
		 display: none;
	}
    .blocConcept {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .imgPhotoInsectes,
	.imgConcept,
	.imgFondateur {
        display: block;
        margin: 2% auto;
    }
	.boutonCarte{
	  font-size: 20px;
	}
	.header-carousel,
	.p-carousel {
	    text-align: center;
	    width: 90%;
	    margin: auto;
	    opacity: 1;
	}
	.img-responsive-mobile {
		display: block;
		text-align: center;
	}
	#more-info-div{
		position: relative;
		height: 50px;
	}
	.more-info-button {
		margin: 1% 0;
		width: 125px;
		top: 50%; left: 50%;
    	transform: translate(-50%, -50%);
		height: 30px;
	}
}



/* MENU */

@media screen and (min-width: 992px) {
  .specialite {
    height: 420px
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .specialite{
    height: 450px
  }
}

#accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
}

.p-nosMenus{
	color: black;
	font-family: 'Linotype Univers';
	font-size: 18px;
}

.panel-title{
	color: rgba(130, 196, 108);

}
active, #accordion:hover {

}

.specialite{
	box-shadow: 15px 15px 15px black;

}


/* restaurant page */
/* our restaurants section */
#map {
    margin: auto;
}

.restaurant-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.restaurant-thumbnail {
	border: 1px none #ddd;
	box-shadow: 0 0 0 rgba(0,0,0,.075);
    background-color: rgba(0,0,0,.075);
    margin: 2% ;
	width: 250px;
}

.restaurant-thumbnail > .thumbnail ,
.restaurant-thumbnail > .caption ,
.restaurant-thumbnail > h3,
.restaurant-thumbnail > p {
	color: white;
	font-family: Times, sans-serif;
	background-color: rgb(62,62,62);
}

.col-thumbnail {
    padding: 0;
}

.restaurant-thumbnail > .caption {
	border-radius: 25px;
	border : 1px solid rgb(255,255,255);
}

.restaurant-thumbnail h3 {
	margin-top: 0;
}

.link-mail {
    display: block;
    margin-bottom: 10px;
	color : blue;
}

.link-adress {
    min-height: 70px;
    display: block;
}

.link-adress-disable:link,
.link-adress-disable:visited,
.link-adress-disable:hover,
.link-adress-disable:active {
    color: rgb(215,215,215);
    cursor: pointer;
    text-decoration: none;
    pointer-events: none;
}

.btn-color {
	background-color: rgb(130, 196, 108);
	color: rgb(62, 62, 62);
}

@media screen and (max-width: 768px) {
    .link-adress-disable:link,
	.link-adress-disable:hover {
	    color: blue;
	    cursor: default;
	    text-decoration: underline;
	    pointer-events: auto;
    }

    .link-adress-disable:visited {
	    color: purple;
	    cursor: auto;
    }
}



/* contact section */

label {
	margin-top: 10px;
	color: white;
}

#send-button {
    display: block;
    margin: 10px auto;
}
