/*CSS Header et Footer*/
@font-face {
	font-family: 'ABugsLife';
	src: url(ABugsLife.ttf);
}
/*CSS banniere top*/
header{
	background-color: white;
;
}
ul{
	margin-left: auto;
	margin-right: auto;
}
.nav{
	display: flex;
	justify-content: space-around;
}
.nav_text{
	font-size: 40px;
	color: black;
	font-family: 'ABugsLife';
}
#logo_restaurant_head{
	display: flex;
	max-width: 50%;
	min-width: 300px;;
	margin: auto;
}
/* CSS du Footer*/
footer{
	background-color: white;
	margin: auto;
}
.banniere_bottom{
	list-style: none;
	position: absolute;
	margin-left: 20%;
}
.banniere_bottom_logo{
	list-style: none;
	position: absolute;
	margin-left: 60%;
	margin-bottom: 20%;
}
.taille_logo{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
#logo_restaurant_foot{
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

/*MISE EN PAGE GENERALE*/
body{
	background: url("https://wallpapertag.com/wallpaper/middle/1/5/5/174157-dark-grey-background-1920x1200-for-iphone.jpg");
	color: white;
	margin: auto;


}
p{
  text-align: justify;

  font-size: 25px;
}
h4 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #F6FF83;
  font-family: 'Coiny', cursive;
}
.titreConcept{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black, -2px -2px black;
   font-family: 'Dancing Script', cursive;
}
.arrierePlanTitre{
  background-color: black;
  border-radius: 25px;
  color: white;
}
.imgConcept{
	width: 100%;
	height: auto;
}


/*PARTIE FONDATEUR*/
.fondateur1{
  float: left;
  width: 200px;
}
.fondateur2{
  float: right;
  width: 200px;
}
.imgFondateur{
	width: 180px;
	height: 180px;
	border-radius: 90px;
  	display: block;
  	margin: auto;
}
.founderSepation{
	width: 50%;
	margin-top: 0px;
	border: solid;
	color: #AAFE79;
}

/*PARTIE CARROUSEL*/
.imgCarousel1{
  background: url("Images/tauxDeConversion.jpg") no-repeat;
  background-position: center;
}

.imgCarousel1, .imgCarousel2, .imgCarousel3{
    height: 400px;
  	border: solid;
}
.titreArticle, .textArticle{
  width: 20%;
  color: black;
  margin: auto;
}
.titreArticle{
  font-size: 30px;
  margin-top: 5%;
  font-weight: bold;
}
.textArticle{
  font-size: 20px;
}

/* LIEN MENU */
.boutonCarte{
  padding: 10px;
  font-size: 30px;
}


@media only screen and (min-width: 720px){
  .imgResponsiveMobile{
    display: none;
    text-align: center;
  }
  .imgConcept, .fondateur1{
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 992px){
  .fondateur1{
  	margin-right: -50px;
  	margin-left: 40px;
  }
  .fondateur2{
  	margin-left: -50px;
  	margin-right: 40px;
	margin-top: -50px;
  }
  .describFondateur{
	margin-top: 50px;
  }
  .imgConcept{
	display: block;
	margin-top: 50px;
  }
}

@media screen and (max-width: 720px) {
    .panel-body{
      margin: auto;
      text-align: center;
    }
    .blocConcept{
      display: flex;
      flex-wrap: wrap-reverse;
    }
    #myCarousel{
      display: none;
    }
    .imgPhotoInsectes, .imgFondateur{
      display: block;
      margin: auto;
    }
    .boutonCarte{
      padding: 30px;
      font-size: 18px;
	  width: 100%;
    }
}

/*PAGE SUIVANTE*/
.text-center{
  text-align: center;
}

@media screen and (min-width: 992px) {
  .specialite {
    height: 500px
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .specialiteLG1{
    height: 410px
  }
  .specialiteLG2{
    height: 450px
  }
}

.bottom{
  vertical-align: bottom;
}

.accordion {
    background-color: #eee;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panelaccordeon{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


/* resto page */

/* our restaurents section */

.restaurantLocation{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#map{
  margin: auto;;
}

.embed-responsive-4by3 {
  padding-bottom: 90%;
}

.col-thumbnail{
  padding: 0;
}

.idRestaurentThumbnail{
	border: 1px none #ddd;
	box-shadow: 0 0 0 rgba(0,0,0,.075);
  background-color: rgba(0,0,0,.075);
  margin: 2%;
}

.linkMail{
  display: block;
  margin-bottom: 10px;
}

.linkAdress{
  min-height: 60px;
  display: block;
}

.linkAdressDisable:link, .linkAdressDisable:visited, .linkAdressDisable:hover, .linkAdressDisable:active{
  color: black;
  cursor: pointer;
  text-decoration: none;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .linkAdressDisable:link, .linkAdressDisable:hover{
    color: blue;
    cursor: default;
    text-decoration: underline;
    pointer-events: auto;
  }

  .linkAdressDisable:visited {
    color: purple;
    cursor: auto;
  }
}



/* contact section */

#contactPresentation{
  margin: 5%;
}

#formH2, #locationH2{
  margin-top: 5%;
  margin-bottom: 5%;
}

.formElement{
  margin: 5%;
}

#sendButton{
  display: block;
  margin: auto;
}

.container{
	border: solid;
}
